<!DOCTYPE html>
<html lang="es">
<body style="font-family: Arial;">

<h2>¡Reserva Confirmada! ✅</h2>

<p>
    Hola <b th:text="${name}">Nombre</b> <b th:text="${lastName}">Apellido</b>,
</p>

<p>
    Tu reserva para la clase de fitness <b th:text="${fitnessClass}">Clase</b> ha sido confirmada.
</p>

<p>
    <b>Fecha de la reserva:</b> <span th:text="${reservationDate}">2025-12-16</span>
</p>

<p>
    ¡Nos vemos en el gimnasio! 🏋️‍♀️💪
</p>

<p>
    <b>Equipo Gym Manager</b>
</p>

</body>
</html>
